.compressor {
    overflow-x: hidden;
    position: relative;
}

.compressor,
.compressor__input {
    width: 100%;
}

.compressor__input {
    padding: 12px;
    border: none;
    background: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    transition: transform .2s ease-in-out;
    transform: translateX(0%);
}

.compressor__input_disable {
    transform: translateX(100%);
}

.compressor__input_raw:focus {
    outline: 2px solid var(--light);
    outline-offset: -2px;
}

.compressor__input_compress {
    background: var(--primary);
    color: var(--white);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.compressor__input_compress:focus {
    outline: none;
}